.question-row {
    margin-bottom: 50px;
}

.question-row-inner {
    margin-bottom: 30px;
}

.row-title {
    	font-family: oscine, sans-serif; 	font-weight: 800; 	font-style: normal;
}

#postcode {
    color: #ff0a9a;
    font-size: 1.2rem;
}


select {
    margin-top: -2%;
}


input {
    margin-top: -3%;
    border-color: #dcd5d5 !Important;
    border-width: 2px !Important;
    	font-family: oscine, sans-serif; 	font-weight: 400; 	font-style: normal; !Important;
}

.form-control:focus {
    box-shadow: none !Important;
}

#direct-debit-guarantee {
    background-color: transparent;
    border: none;
    padding: 0px;
    font-weight: 600;
    
}

#direct-debit-guarantee span:hover {
    cursor: pointer;
    border-bottom-color: #ff0a9a;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #000;
    
}



.inner-question-title {
    font-weight: 500;
    font-family: oscine;
}

.inner-question-container {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}