
.type-button {
    padding-top: 10px;
    width: 100%;
    height: calc(1.8em + .75rem + 2px);
    background-color: #f7f7f7;
    color: black;
    border: none !Important;
    font-family: oscine, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 10px;
}

.type-button.active {
    background-color: #ff0a9a !Important;
    color: white;
}

.type-button:hover {
    background-color: #ff0a9a !Important;
}

.type-button:focus {
    box-shadow: none !Important;
}


.supplier-container {
    margin-bottom: 20px;
}

.supplier-image {
    background-color: #f7f7f7;
    height: 100px;
    padding: 8%;
    border-radius: 8px;
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
}

.supplier-image.active {
    padding: 8%;
    border-color: #ff0a9a;
    background-color: white;
}

.supplier-image div {     
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

#supplier-british-gas {
    background-image: url('../images/British-gas.png');
}

#supplier-eon {
    background-image: url('../images/EON.png');
}

#supplier-edf {
    background-image: url('../images/EDF.png');
}

#supplier-npower {
    background-image: url('../images/npower.png');
}

#supplier-scottish-power {
    background-image: url('../images/Scottish-Power.png');
}

#supplier-sse {
    background-image: url('../images/SSE.png');
}


.control-label {
    	font-family: oscine, sans-serif; 	font-weight: 400; 	font-style: normal;
}


#plan-or {
    	font-family: oscine, sans-serif; 	font-weight: 400; 	font-style: normal;
    font-size: 18px;
}




#plan-circle {
    font-size: 0.8rem;
}



#not-sure-button {
    margin-top: -2.8%;
}

#not-sure-button span {
    font-size: 1rem;
}























@media (max-width: 575.98px) {
    
    #plan-or {
        	font-family: oscine, sans-serif; 	font-weight: 400; 	font-style: normal;
        font-size: 20px;
    }
    
    #plan-circle {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 0px !Important;
    }
    
    #plan-circle .round-button-circle {
        font-size: 15px !Important;
    }
      
}


@media (min-width: 576px) and (max-width: 768.98px) {
    
    #plan-circle {
        margin-top: -3%;
        font-size: 13px;
    }
    
    #plan-or {
        font-size: 24px;
    }

    #not-sure-button {
        margin-top: -25% !Important;
    }

    #not-sure-button span {
        font-size: 0.8rem !Important;
    }

          
}


@media (min-width: 768.99px) and (max-width: 991.98px) {
    
    #plan-circle {
        margin-top: -3%;
    }
    
    #not-sure-button {
        margin-top: 23%;
    }

    #not-sure-button span {
        font-size: 0.8rem;
    }
    
}



@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
    #plan-or {
        font-size: 24px;
    }
    
    #plan-circle {
        font-size: 14px;
        margin-top: -3%;
    }


    #not-sure-button {
        margin-top: -25%;
    }


    
}


@media (min-width: 1199.99px) {

    #plan-or p {
        margin-top: 3px;
        font-size: 1.4rem;
    }

    #not-sure-button {
        margin-top: -22%;
    }

    #not-sure-button span {
        font-size: 1.5rem;
        margin-top: -12px;
    }

    .form-check {
        padding-left: 20px !Important;
    }
     
}


