#view-more {
    font-family: oscine, sans-serif;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
}


.hidden {
    display: none;
}

.result-row.active {
    border-style: solid;
    border-width: 6px;
    border-color: #ff0a9a;
    background-color: white;
}

.result-row {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 6px;
    border-color: transparent;
}

.result-row:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 6px;
    border-color: #ff0a9a;
    background-color: white;
}


.column-title {
    font-family: oscine, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.2rem;
}

.column-inner-text {
    font-family: oscine, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.column-inner-text a {
    background-color: transparent;
    border: none;
    padding: 0px;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: black;
    background-color: transparent;
    border: none;
}


.column-inner-text a:hover {
    background-color: transparent;
    border: none;
    padding: 0px;
}

.column-inner-text a span:hover {
    border-bottom-color: #ff0a9a;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.r-m-bottom {
    margin-bottom: -0.8vh;
}

.column-price-value {
    font-family: oscine, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ff0a9a;
}

.column-price-button {
    font-family: oscine, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: black;
}

.column-price-button.active {
    color: #ff0a9a !Important;
}

.column-price-value {
    margin-bottom: 2rem;
}


#british-gas {
    background-image: url(../images/British-gas.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 80px;
}

#SSE {
    background-image: url(../images/SSE.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 80px;
}

.supplier_col {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 80px;
}

#EDF {
    background-image: url(../images/EDF.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 80px;
}


@media (max-width: 575.98px) {

    .column-title {
        margin-top: 20px;
    }


    #british-gas {
        background-position: center;
    }

    .supplier-title {
        display: none;
    }

}


@media (min-width: 767.99px) and (max-width: 870px) {

    .column-inner-text {
        font-size: 0.8rem;
    }

    .r-m-bottom {
        margin-bottom: -0.4vh;
    }

}
